.box{
    background-color: orangered;
}

.boxr{
    background-color: white;
}

.box,.boxr{
    width: 30px;
    height: 30px;
    /* margin: 5px; */
}

.right{
    margin-right: 25px;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__s{
    display: flex;
    flex-direction: column-reverse;
}

.box1,.box6,.box7{
    display: flex;
}

.container__t,.container__d,.container__o,.container__m{
    display: flex;
}

.container__r,.container__a{
    display: flex;
    flex-direction: column;
}